body {
  margin: 0;
  padding: 0;
  background-image: url("../img/Desktop.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  height: 954.4px;
  overflow-x: hidden;
}


.primera-columna {
    width: 100%;
    text-align: left;
    margin-top: 30px;
    margin-left: 22px;
    padding-left: 20px;

    transform: scale(0.3);
    transform-origin: top left;
  }


.segunda-columna {
  margin-top: 110px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  top: 80px;


}


.tercera-columna {
  margin-top: 80px; 
}

.planeta-flotante {
  width: 120px; /* Ajusta según tu diseño */
  animation: flotar 6s ease-in-out infinite;
}

/* Animación personalizada */
@keyframes flotar {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-15px) scale(1.05);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

 .boton-img {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-image: url('../img/boton1.png');
  background-size: cover;
  background-position: center;
  width: 250px;
  height: 60px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 400;
  font-family: Arial, sans-serif;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;

  transform: scale(0.9);
  transform-origin: top center;
}

/* Hover */
.boton-img:hover {
  background-image: url('../img/boton1hover.png');
  font-size: 22px;
  font-weight: 700;
}

.portada {
  width: 100%;       /* Se adapta al ancho de su columna */
  max-width: 300px;  /* No será más grande de 300px */
  height: auto;      /* Mantiene proporciones */
  display: block;
  margin: 0 auto;    /* Centra la imagen si hay espacio */
}

.portada-asomada {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 210px;
  z-index: 10;
}


h1 {
  font-size: 36px;
  font-weight: 800;
  color: white;
  text-align: left;
  margin-top: -80px;
  margin-left: 120px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  letter-spacing: -2px;
}

.titulo-contorno {
  font-size: 132px;
  font-weight: 900;
  color: transparent; /* Texto invisible */
  -webkit-text-stroke: 1.5px white; /* Contorno blanco */
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin-top: 0px;
  margin-left: 120px;
  letter-spacing: -4px;
}

.uxui-palpita {
  display: inline-block;
  animation: palpitar 5s ease-in-out infinite;
  -webkit-text-stroke: 1.5px white; /* Contorno SIEMPRE blanco */
  color: transparent;               /* Relleno animado */
   margin-left: 20px;
}

.front-palpita {
  display: inline-block;
  animation: palpitar 5s ease-in-out infinite;
  -webkit-text-stroke: 1.5px white;
  color: transparent;
  font-size: 48px;         /* Más pequeño que el principal */
  font-weight: 800;
  text-align: right;
  width: 100%;             /* Para que text-align funcione */
  margin-top: -20px;       /* Ajusta según lo cerca que lo quieras del de arriba */
  margin-left: -150px;     /* Igual al margin-left del otro para alinear en espejo */
  text-transform: uppercase;
  letter-spacing: -2px;

  
}

/* Animación para simular latido o pulso de color */
@keyframes palpitar {
  0% {
    color: transparent;
    transform: scale(1);
    opacity: 1;
  }
  50% {
    color: white;
    transform: scale(1.05);
    opacity: 0.5;
  }
  100% {
    color: transparent;
    transform: scale(1);
    opacity: .7;
  }
}

.texto-introduccion {
  margin-top: 53px; /* Lo sube más */
  text-align: center;
  font-size: 24px;
  font-weight: 200;
  color: white;
  line-height: 1.2; /* Menor espacio entre líneas */
  letter-spacing: 2px; /* Separa las letras horizontalmente */
  max-width: 90%; /* Ocupa casi todo el ancho */
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, sans-serif;
}
.texto-introduccion strong {
  font-weight: 700;
}
.bloque-con-titulo {
  width: 100%;
  max-width: 100%;
  text-align: center;
  margin: 40px auto;
  margin-top: 90px;
  position: relative;
}

/* 🔴 Ocultar título en escritorio */
.titulo-del-block {
  display: none;
}

.bloque-cita {
  position: relative;
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.fondo-block-img {
  display: block;
  width: 100%;
  height: auto;
}

.contenido-cita {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}

.contenido-cita p {
  margin: 0;
  font-size: 15px;
  font-family: 'Merriweather', serif;
  line-height: 1.4;
  font-weight: lighter;
}

.contenido-cita span {
  margin-top: 150px;
  font-weight: 600;
  font-style: italic;
  font-size: 18px;
}

.barra-loquehago {
  width: 100%;
  padding: 40px 0;
  background: linear-gradient(to right, rgba(20, 75, 219, 0.3), rgba(8, 39, 120, 0.3));
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.contenedor-rectangulos {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 30px 40px;
  flex-wrap: nowrap;
}

  .contenido-rectangulo {
  transform: scale(1.2);
  transform-origin: center top; /* puedes ajustar el origen si quieres */
  margin-top: 25px;
}


.rectangulo {
  background: linear-gradient(to right, rgba(20, 75, 219, 0.3), rgba(8, 39, 120, 0.3));
  border: 2px solid white;
  width: 390px;
  height: 390px;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  margin-top: 80px;
}

.titulo-rectangulo {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-bottom: 15px;
  gap: 10px;
}


.grid-imagenes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.img-box:nth-child(odd) {
  margin-right: -10px; /* Acerca la columna izquierda a la derecha */
}

.img-box:nth-child(even) {
  margin-left: -10px; /* Acerca la columna derecha a la izquierda */
}



.img-box img {
  width: 60px;
  height: auto;
  display: block;
  margin: 0 auto 5px;
}

.img-box p {
  font-size: 12px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

h5  {
  font-size: 80px;
  color: #c1ec164c;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  justify-content: center;
  margin-top: 7.8rem;
  font-weight: 1000;

}

h2  {
  font-size: 30px;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  justify-content: center;
  margin-top: -3.8rem;
  
}

.carousel {
  display: flex;
  gap: 30px; /* Espacio entre slides */
  padding: 10px 0;
  width: max-content;
  margin: 0 auto;
  transition: transform 0.6s ease;
  position: relative;

}

.slide {
  min-width: 40%;
  transition: transform 0.3s ease, z-index 0.3s;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: .2rem;
  cursor: pointer;
  z-index: 1;

   

}

.slide:hover {
  transform: scale(1.1);
  z-index: 10;
}


.bloque-1 {
  position: relative;
  width: 90%;
  max-width: 400px;
  background: transparent;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
    z-index: 0;
}

.background-img {
  width: 100%;
  height: auto;
  display: block;
}


.trabajo-1 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -30%) scale(0.7); /* centrado y escalado */
  z-index: 3;
  text-align: center;
  width: 80%;
  pointer-events: none; /* opcional: para evitar interacciones si no necesitas clics */
 
  
}

/* Evita que se apliquen estilos generales de img */
img {
  /* estilos generales */
  max-width: 100%;
  display: block;
  object-fit: cover;
}

/* Pero sobrescribes solo para esta imagen */
.logo-ucamp {
  all: unset; /* Limpia todos los estilos heredados */
  width: 120px;
  height: auto;
  display: inline-block;

    transform: scale(2);
    transform-origin: center;
     margin-bottom: 40px;
}

h3 {
  font-size: 18px;
  margin-bottom: 0px;
  color: #fff;
  z-index: 100;
}


.contenido-slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 60px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: transparent;

}

.blockquote-slider {
  position: relative;
  background: transparent; /* Transparente */
  backdrop-filter: blur(10px); /* Blur moderno */
  border-radius: 35px;
  border: 1.5px solid white;
  padding: 20px;
  margin-top: 400px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  text-align: center;
  min-height: 180px;

     transform: scale(0.8);
    transform-origin: center;
}

img {
  /* estilos generales */
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.blockquote-slide {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


.blockquote-slide.active {
  display: flex;
}

.blockquote-slider {
  position: relative; /* importante para posicionar elementos dentro */
}

.avatar-flotante {
  position: absolute;
  bottom: -40px;    /* sobresale 20px por debajo */
  left: 10px;      /* un poco hacia adentro */
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.texto-testimonio {
  width: 80%;
  font-size: 10px;
  line-height: 1.6;
  font-weight: 300;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-align: center; /* o center si prefieres */
  margin: 80px 0;
}


.blockquote-slide img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.blockquote-slide p {
  font-size: 14px;
  color: white;
  font-style: italic;
  margin: 0;
  line-height: 1.4;
  font-family: 'Poppins', sans-serif;
}

.prev-quote,
.next-quote {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  color: black;
  border:#04055a;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  font-size: 23px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  z-index: 2;
}

.empresa-label,
.rol-label, 
.empresa-nombre
.rol-descripcion {
  font-family:  'Merriweather', serif;
}

.empresa-label,
.rol-label {
  font-size: 1rem;
  font-weight: 100;
}

.empresa-nombre {
  font-size: 1.2rem;
}

.rol-descripcion {
  font-size: 1.5rem;
}

.prev-quote:hover,
.next-quote:hover {
  background: #a89ffc;
}

.prev-quote {
  left: -15px;
}

.next-quote {
  right: -15px;
}

.titulo-2  {
  font-size: 80px;
  color: #c1ec164c;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  justify-content: center;
  margin-top: 10.8rem;
  font-weight: 1000;

}

.titulo-s2 {
  font-size: 30px;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  justify-content: center;
  margin-top: -3.5rem;
  
}



.contenedor-angulos {
  display: flex;
  justify-content: center;
  gap: 40px; /* espacio entre cuadros */
  flex-wrap: wrap; /* para que sea responsive */
  margin-top: 100px;
}

.angulo {
  background: linear-gradient(to right, rgba(20, 75, 219, 0.3), rgba(8, 39, 120, 0.3));
  border: 2px solid white;
  width: 320px;
  height: 320px;
  padding: 80px 30px 30px;
  text-align: left;
  box-sizing: border-box;
  position: relative;
  font-family: 'Poppins', sans-serif;
}
.angulo_educacion {
  background: linear-gradient(to right, rgba(20, 75, 219, 0.3), rgba(8, 39, 120, 0.3));
  border: 2px solid white;
  width: 350px;
  height: 350px;
  padding: 5px 30px 30px;
  text-align: left;
  box-sizing: border-box;
  position: relative;
  font-family: 'Poppins', sans-serif;
}

.icono-flotante {
  position: absolute;
  top: -50px; /* lo sube fuera del cuadro */
  left:50%;
  transform: translateX(-50%);
  width: 100px; /* ajusta según tu imagen */
  height: auto;

     transform: scale(150rem);
    transform-origin: center;
}

.texto-angulos h3 {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  margin-bottom: 10px;
}

.texto-angulos p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #fff;
}

.texto-angulos ul {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #fff;
}


/* iterfaces*/

.contenedor {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.columna {
  box-sizing: border-box;
}

.columna-75 {
  width: 80%;
}

.columna-50 {
  width: 50%;
}

.bloque-principal {
  background: linear-gradient(to right, rgba(20, 75, 219, 0.3), rgba(8, 39, 120, 0.3));
  border: 0px solid white;
  width: 930px;
  height: 840px;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  margin-top: 80px;

  backdrop-filter: blur(1px); /* Aplica blur al fondo */
  -webkit-backdrop-filter: blur(10px); /* Compatibilidad */
}

.grid-imagenes4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 0px;    /* filas */
  column-gap: 30px; /* columnas */
}

.bloque-img-texto4 {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.bloque-img-texto img {
  width: 100px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 5px;
}

.cuadro-texto-interfaz {
  background: linear-gradient(to right, rgba(20, 75, 219, 100), rgba(8, 39, 120, 0.3));
  border: .5px solid white;
  padding: 30px;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: #fff;
  width: 70%;
  text-align: left;
  border-radius: 0px;
  width: 400px;
  height: 200px;
  margin-top: -60px;

    transform: scale(0.8);
    transform-origin: center;

  
}

.cuadro-texto .titulo {
  text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
}

.cuadro-texto .subtitulo {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 15px;
}

.cuadro-texto .boton {
    display: inline-block;
    padding: 10px 15px;
    background: linear-gradient(to right, rgba(20, 75, 219, 0.3), rgba(8, 39, 120, 0.3));
    border: .1px solid white;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.cuadro-texto .boton:hover {
   border: .1px solid white;
    background-color: #0056b3;
    transform: scale(1.05);
}


.titulo4{
  margin-top: 10px;
  text-align: left;
}

.texto-principal{
  font-size: 1.5rem;
  text-align: left;
  color: #ffffff;
  margin-left: 15rem;
  margin-top: 15%;
}

.bloque-secundario {
  background: linear-gradient(to right, rgba(20, 75, 219, 0.3), rgba(8, 39, 120, 0.3));
  border: 0px solid white;
  width: 580px;
  height: 400px;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  margin-top: 250px;

  backdrop-filter: blur(1px); /* Aplica blur al fondo */
  -webkit-backdrop-filter: blur(10px); /* Compatibilidad */
}

.cuadro-texto-interfaz1 {
  background: linear-gradient(to right, rgba(20, 75, 219, 100), rgba(8, 39, 120, 0.3));
  border: .5px solid white;
  padding: 30px;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: #fff;
  width: 50%;
  text-align: left;
  border-radius: 0px;
  width: 300px;
  height: 300px;
  margin-top: -10rem;

    transform: scale(0.8);
    transform-origin: center;

  
}


.bloque-img-texto5 {
  position: relative;
  width: 40%;
  height: auto;
}

/* Imagen */
.yo img {
  margin-top: 20rem;
  margin-left: 25rem;
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  
    transform: scale(1.3);
    transform-origin: center;

}


.titulo-3  {
  font-size: 80px;
  color: #c1ec164c;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  justify-content: center;
  margin-top: 10.8rem;
  font-weight: 1000;
  margin-top: 26rem;

}

.titulo-s3 {
  font-size: 30px;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  justify-content: center;
  margin-top: -3.5rem;
  
}

F
/*formulariio*/

  .container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 50px;
      background: rgba(0, 0, 0, 0.6);
    }

    .formulario {
      max-width: 50%;
    }

    h1 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 20px;
      color: #ccc;
      font-size: 14px;
    }

    label {
      display: block;
      margin: 15px 0 5px;
    }

    input[type="text"], input[type="email"], input[type="tel"] {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background: rgba(255, 255, 255, 0.1);
      color: white;
    }

    .opciones {
      margin: 15px 0;
    }

    .opciones label {
      display: block;
      font-size: 14px;
    }

    .btn {
      display: inline-block;
      margin-top: 20px;
      padding: 12px 20px;
      border: 1px solid #fff;
      border-radius: 8px;
      background: linear-gradient(90deg, #333, #555);
      color: white;
      cursor: pointer;
    }

    .contacto {
      max-width: 40%;
    }

    .redes {
      margin-top: 30px;
    }

    .redes a {
      margin-right: 20px;
      text-decoration: none;
      color: white;
      font-weight: bold;
    }


